.contact{
    position: absolute;
    right:5px;
    top:5px;
}
.cloud:hover{
    position:relative;
    right: 300px;
    top:100px;
}
}
h1{
    font-size:3.625rem;
    text-align: center;
    color: whitesmoke;
    margin-top: 0 ;
    line-height:1.5;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    position:relative;
    bottom:24px;
    font-weight:normal;
}
p{
    text-align: center;
}
.second-cloud:hover{
    position:absoulte;
    left: 600px;
    bottom:300px;
}
.introduction {
    font-size: larger;
    background-color: #5fa1bd;
    padding: 20px;
    margin:10px;
    border: solid;
    height:41%;
    width:95%;
    position:relative;
    padding-top:150px;
}
.styling{
    color:#004d40;
    transition: 0.2s all ease-in-out;
}
.styling:hover{
    transform: scale(1.20);
}
.thick-green-border {
    border-color: lightpink !important;
    border-width:3px;
    border-style:solid;
    border-radius: 50%;
}
a {
    font-size:100%;
    color: blue;
    text-decoration: none;
}
a:hover{
    color:red;
}
.red-text {
    color:black;
}
body {
    font-size:20px;
    font-family:'Pacifico', Arial, Helvetica, sans-serif;
    width:"200px";
    height:200vh;
    margin: 0;
}
.responsive
{
    display:grid;
    height:100vh;
    width:100;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1.5fr 0.8fr;
    grid-template-areas:
        "about about Languagesknown Languagesknown"
        "Skills Skills AwardsandAchievements AwardsandAchievements"
        "footer footer footer footer ";
}
#about {
    grid-area: about;
    border: solid blue;
    border-radius: 25px;
}
#Languagesknown {
    grid-area: Languagesknown;
    border: solid green;
    border-radius: 25px;
}
#Skills {
    grid-area: Skills;
    border: solid brown;
    border-radius: 25px;
}
#AwardsandAchievements {
    grid-area: AwardsandAchievements;
    border: solid darkmagenta;
    border-radius: 25px;
}
footer{
    grid-area: footer;
    border-radius: 25px;
}
@media only screen and (max-width:850px) {
    .responsive{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.9fr 1fr 1fr 1fr;
        grid-template-areas:
        "about about"
        "Languagesknown Languagesknown"
        "Skills AwardsandAchievements"
        "footer footer";
    }
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color:black;
    border-width:11px;
    margin:50px auto;
}
.container {
    font-size:20px;
    display: grid;
    grid-area:footer;
    text-align: left;
    background-color: deeppink;
    padding: 50px 0 20px;
    height:50%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:11%;
    position:relative;
    margin:0 auto 0 auto;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.copyright{
    color:white;
    font-size: 1em;
    padding: 20px 0px;
}
.instagram{
    width:100px;
    height:75px;
}
.facebook{
    width:100px;
    height:75px;
}
