*{
    box-sizing: border-box;
}
.contact{
    position: absolute;
    right:5px;
    top:5px;
}
.cloud:hover{
    position:relative;
    right: 300px;
    top:100px;
}
h1 {
    font-size: 6vw;
    text-align: center;
    color: whitesmoke;
    margin-top: 0;
    line-height: 1.5;
}
.dp{
    height: 20vw;
    width: 20vw;
}
h2 {
    font-size: 4vw;
    text-align: center;
    position: relative;
    bottom: 24px;
    font-weight: normal;
}
p{
    text-align: center;
}
.second-cloud:hover{
    position:absoulte;
    left: 600px;
    bottom:300px;
}
.introduction {
    font-size: larger;
    background-color: #5fa1bd;
    padding: 20px;
    margin: 10px;
    border: solid;
    max-width: 100%;
    width: 95%;
    position: relative;
    padding-top: 150px;
    box-sizing: border-box;
    overflow: hidden;
}
.styling{
    color:#004d40;
    transition: 0.02s all ease-in-out;
}
.styling:hover{
    transform: scale(1.02);
}
.thick-green-border {
    border-color: lightpink !important;
    border-width:3px;
    border-style:solid;
    border-radius: 50%;
}
a {
    font-size:100%;
    color: blue;
    text-decoration: none;
}
a:hover{
    color:red;
}
.red-text {
    color:black;
}
body {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    width:"200px";
    height:200vh;
    margin: 0;
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
        bottom: 12px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
        bottom: 6px;
    }
}
.responsive
{
    display:grid;
    height:100vh;
    width:100;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1.5fr 0.8fr;
    grid-template-areas:
        "about about Languagesknown Languagesknown"
        "Skills Skills AwardsandAchievements AwardsandAchievements"
        "footer footer footer footer ";
    gap: 20px;
}
#about {
    grid-area: about;
    border: solid blue;
    border-radius: 25px;
}
#Languagesknown {
    grid-area: Languagesknown;
    border: solid green;
    border-radius: 25px;
}
#Skills {
    grid-area: Skills;
    border: solid brown;
    border-radius: 25px;
}
#AwardsandAchievements {
    grid-area: AwardsandAchievements;
    border: solid darkmagenta;
    border-radius: 25px;
}
footer{
    grid-area: footer;
    border-radius: 25px;
}
@media only screen and (max-width:850px) {
    .responsive{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.9fr 1fr 1fr 1fr;
        grid-template-areas:
        "about about"
        "Languagesknown Languagesknown"
        "Skills AwardsandAchievements"
        "footer footer";
    }
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color:black;
    border-width:11px;
    margin:50px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:11%;
    position:relative;
    margin:0 auto 0 auto;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    text-align: center;      
    background-color: deeppink;
    padding: 50px 0 20px;
    height: 70%;
}

.social-media-links {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
}
.instagram,
.facebook {
    width: 100px;
    height: 75px;
}

.copyright {
    color: white;
    font-size: 1em;
    padding: 20px 0px;
}

.column{
    float:left;
    padding:5px;
}
.row::after{
    content:"";
    display:table;
    clear:one;
}
    